
//--------------------- Colors -------------------//

$bg-color-main: white;
$font-color-menu: rgb(146,91,168);
$font-color-decorative:rgb(221,100,70);
$font-color-title: rgb(68,53,47);
$font-color-text: rgb(161,155,154);


//-------------------- Responsive Sizes -------------------- //

$large-device-width: 1199px; // Large devices (desktops, less than 1200px)
$medium-device-width: 991px; // Medium devices (tablets, less than 992px)
$small-device-width: 767px; // Small devices (landscape phones, less than 768px)
$extra-small-device-width: 575px; // Extra small devices (portrait phones, less than 576px)